* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

header ul {
    font-size: clamp(0.6rem, 2.5vw + 1rem, 1.8rem);
    background-color: rgb(238, 140, 43);
    padding: 7px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10%;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.AAAA {
    opacity: 55%;
    width: 60%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#logotopo {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}